.inputext {
    width: 90%;
}

.checkmarc {
    margin: 10px;
}

.content {
    margin-top: 20px;
}

.card {
    margin-top: 50px;
    padding-left: 20px;
}

.bodbut {
    float: right;
    margin-right: 10%;
}

.basictext {
    font-family: roboto;
    margin: 10px;
}