 *{
	box-sizing: border-box;
}
p{
    color: black;
    font-size: 100%;
}

[class*="col-"]{
	width: 100%;
	float: left;
	padding: 15px;
}


@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
} 

.backg-image{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: auto;
    

    -webkit-filtet: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);  

    
}
.source-container{
    margin-left: 280px;
    margin-top: 1px;
    padding-top: 40px;
}

@-webkit-keyframes spin{
	0%{-webkit-transform: rotateY(0deg); }
	50%{-webkit-transform: rotateY(45deg);  }
}

img:hover{
	position: relative;
    -webkit-animation: spin 1.5s linear; 
}