.inputext {
    margin: 30px;
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #556797;
    width: 100%;
}

.jumbotron {
    background-color: #4975e9;
}

::placeholder {
    color: #4975e9;
}

.details {
    font-family: Roboto;
    font-size: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo profile" "navbar stuff";
}

.logingrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: ". made ."
}

.made {
    justify-items: center;
}