.inputext {
    margin: 30px;
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #556797;
    width: 100%;
}

.btn {
    margin: 30px;
}

.jumbotron {
    background-color: #4975e9;
}

::placeholder {
    color: #4975e9;
}

.details {
    font-family: Roboto;
    font-size: 24px;
}

.logo {
    background-color: #4975e9;
    border-right: 1px solid#6e6d6d;
}

.navbar {
    border-right: 1px solid#6e6d6d;
}

.profile {
    background-color: #0C12B2;
}

.bodbut {
    margin: 10px;
    font-size: 12px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #0C12B2;
    font-family: roboto, medium;
    border-radius: 0;
    width: 181px;
    height: 36px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "logo profile" "navbar stuff";
    width: 100vw;
    height: 100vh;
}

.navgrid {
    display: grid;
    grid-template-rows: 15% 50% 35%;
    grid-template-areas: " . damn .";
}

.logingrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: ". made ."
}

.made {
    justify-items: center;
}