.body {
    background-color: #F9F8F8;
    --deji: rgba(77, 77, 77, 0.315);
}

.card {
    box-shadow: 3px 4px 5px rgb(77, 77, 77), 0 0 10px rgb(77, 77, 77);
}

.inputext {
    margin: 10px;
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #556797;
    outline: none;
}

.btn {
    margin: 30px;
}

.header {
    background-color: #4975e9;
}

::placeholder {
    color: #4975e9;
}

.details {
    margin: 10px 0px 0px 30px;
    font-family: Roboto;
    font-size: 19px;
    float: left;
    color: #8E8E8E;
}

.nslogo {
    height: 100px;
    width: 100px;
    float: right;
}

.lago {
    height: 100px;
    width: 100px;
    margin-top: -9px;
}

.logo {
    background-color: #4975e9;
    border-right: 1px solid#6e6d6d;
    text-align: center;
    /* box-shadow: 0px -3px 20px rgb(77, 77, 77); */
}

.navbar {
    border-right: 1px solid#6e6d6d;
    /* box-shadow: -3px 0px 20px rgb(77, 77, 77); */
    display: grid;
    grid-template-rows: 15% 50% 35%;
    grid-template-areas: " . damn .";
}

.profile {
    background-color: #0C12B2;
    box-shadow: 5px -3px 20px rgb(77, 77, 77);
}

.bodbut {
    color: #ffffff;
    margin: 10px;
    font-size: 12px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #0C12B2;
    font-family: roboto, medium;
    border-radius: 0;
    width: 100px;
    height: 36px;
}

.nav-btn {
    color: #ffffff;
    margin: 10px;
    font-size: 11px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #0C12B2;
    font-family: roboto, medium;
    border-radius: 4px;
    width: 181px;
    height: 36px;
    box-shadow: 1px 1px 10px rgb(77, 77, 77);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 12% 88%;
    grid-template-areas: "logo profile" "navbar stuff";
    width: 100vw;
    height: 100vh;
}

.stuff {
    margin: 20px;
}

.floatleft {
    background-color: #4975e9;
    padding: 17px 0px 0px 0px;
    color: #ffffff;
}

.floatright {
    background-color: #4975e9;
}

.middlegrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: ". middle ."
}

.topgrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "floatleft floatright";
}

th {
    color: #AF6964;
}

th,
td {
    padding: 30px;
}

.basictext {
    font-family: roboto;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .inputext {
        margin: 30px;
        border-style: hidden;
        border-bottom-style: solid;
        border-bottom-color: #556797;
        width: 50%;
    }
    .bodbut {
        color: #ffffff;
        margin: 10px;
        font-size: 12px;
        border: 0 none;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: #0C12B2;
        font-family: roboto, medium;
        border-radius: 0;
        width: 100px;
        height: 36px;
    }
}